body {
  margin: 0;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.app-header {
  display: flex;
  background-color: #0175bd;
  align-items: center;
}

.app-title {
  color: #ffffff;
  text-align: left;
}

.app-logo {
  height: 50px;
}
